.container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 5px;
    
    
    /* grid-template-rows: 60px 60px 60px; */
    
}
.cont{
    background-color: red;
    height: 60px;
    overflow: hidden;
    width: 60px;
}